/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    color: #0d0d0d;
}
input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.user-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Main Content */
main {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.filter-options {
    margin-bottom: 20px;
}

.filter-options label {
    margin-right: 10px;
}

.filter-options select {
    padding: 5px;
    margin-right: 20px;
}

/* Order List */
.order-list {
    display: flex;
}

.order-card {
    background-color: rgb(254 215 170 / var(--tw-bg-opacity, 1));
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-card h2 {
    margin: 0 0 10px 0;
}

.items-ordered {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.items-ordered img {
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

button {
    background-color: #0d0e0e;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #5f6061;
}

/* Pagination */
.pagination {
    margin-top: 20px;
}

.pagination button {
    background-color: #0c0c0c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.pagination button:hover {
    background-color: #888a8b;
}