
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0px;
    padding: 130px;
    background-color: #f9f9f9;

}
h1, h2, h3 {
    color: #333;
}
h1 {
    text-align: center;
    font-size: 40px;
}
h2 {
    font-size: 20px;
}
p {
    margin: 10px 0;
    text-align: justify;
}
ul {
    margin: 10px 0 10px 20px;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}
