body {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background:white;
    color: #F68B20;
    padding: 20px;
    text-align: center;
}

p{
    color:black
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.partners, .resources, .contact {
    flex: 1;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.partner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin-bottom: 20px;

}
.partner img{
    max-width: 70%;
    max-height: 70%;
}

h2 {
    color: #F68B20;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #F68B20;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #F68B20;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #f5983c;
}